.top{
    width: 100%;
    height: 50px;
    z-index: 999;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top:0px;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    

}

.topleft, .topright{
    flex:3;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.topicon{
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;
}
.profileimg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 5px;
}
.topcenter{
    flex:6
}
.toplist{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.toplistitem{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}
.searchicon{
    font-size: 18px;
    columns: #666;
    cursor: pointer;
    margin-left: 15px;
}


@media screen and (max-width: 468px) {
    .about, .contact,.topleft, .searchicon {
    display: none;
   }
   .top{
    position: -webkit-sticky;
    position: sticky;
    top:0px;
    z-index: 999;
   display: flex;
   flex-direction: row-reverse;
   background-color: rgba(246, 245, 245, 0.983);
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.357);
    
   }
   .profileimg{
        margin-top: 5px;
        margin-left: -45px;
    }

    .toplistitem{
        margin-top: 10px;
    }
}